<%= form_for(@setting, url: admin_setting_path(@setting.var), method: 'patch') do |f| %>
  <h3>Edit Setting</h3>
  <label>key</label>
  <%= f.text_area :var, rows: 1%></br>
  <label>Value</label>
  <%= f.text_area :value, rows: 1%></br>
  <%= f.submit %>
<% end %>
